// MEASUREMENT
// =================================================

// ==========================================================================
// TYPOGRAPHY
// ==========================================================================

// font sizes
// --------------------------------------------------------------------------

$bodyFontSize:  100%;     //100% ≈ 16px, paragraphs will inherit this size
$h1Size:        2em;
$h2Size:        1.5em;
$h3Size:        1.17em;
$h4Size:        1em;
$h5Size:        0.83em;
$h6Size:        0.75em;


// bottom margins
// --------------------------------------------------------------------------

$h1Spacer:      0.67em;
$h2Spacer:      0.83em;    
$h3Spacer:      1em;
$h4Spacer:      1.33em;
$h5Spacer:      1.67em;
$h6Spacer:      2.33em;

$pSpacer:       1em;
$listSpacer:    1em;        //ol, ul, dl, menu
$quoteSpacer:   1em;        //blockquote
$mediaSpacer: 	1em;


// left margins
// --------------------------------------------------------------------------

$listIndent:    40px;       //ol, ul, dd
$quoteIndent:   40px;       //blockquote

//right margins
// --------------------------------------------------------------------------

$mediaIndent: 	20px;

// ==========================================================================
// FORMS
// ==========================================================================

$inputPadding:		10px;
$inputBorderRadius: 3px;


// ==========================================================================
// BUTTONS
// ==========================================================================

$buttonBorderRadius: 	3px;
$buttonPadding:			5px 20px; 	


